{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <p>Dear Applicant,</p>
  <p></p>
  <p>Thank you for your application. Processing an application to be Member of Register of Speech Therapists from graduates of local Speech Therapy Training Programmes normally takes four calendar weeks after all necessary documents and application fee have been received. Additional time would be needed for applicants graduating from overseas programmes. Whether this pledge can be met will also depend on the circumstances of individual applications and the number of applications received during a particular period. Please note that an application without relevant supporting documents or payment will not be processed. All processed applications would be endorsed by the HKIST Professional Council during Council Meetings which are held once every 3 months, before certificate is sent out to applicant. Should you have any enquiries, please contact us by email <a href="mailto:info@hkist.org.hk">(info@hkist.org.hk)</a>.
  </p>
</div>

{% endblock %}