<html>
<head></head>
<body>
{% block content %}

<div >
    Dear Applicant,
    <p></p>

    Your application form and documents were well received. To proceed with your application, please submit an annual membership fee of {{ fee.currency }} {{ fee.amount }} through the payment link as shown:
    <p></p>
      
    <a href="https://{{ domain_name }}/member_profile">https://{{ domain_name }}/member_profile</a>
    <p></p>

    Should you have any enquiries, please contact us by email<a href="mailto:info@hkist.org.hk">(info@hkist.org.hk)</a>.
    <p></p>

    Regards,<br>
    Secretariat<br>
    HKIST<br>
</div>

{% endblock %}
</body>
</html>
