<html>
<head></head>
<body>
{% block content %}

<div >
    Dear member,
    <p></p>

    {{ message }} If you need further assistance, please contact us by email, info@hkist.org.hk.
    <p></p>
      
    Best regards,</br>
    Secretariat</br>
    Hong Kong Institute of Speech Therapists</br>
    Room 1201, 12/F, Block B, New Trade Plaza, 6 On Ping Street, Shatin, New Territories, Hong Kong.</br>
    Email: <a href="mailto:info@hkist.org.hk">(info@hkist.org.hk)</a>.
</div>

{% endblock %}
</body>
</html>
