<html>
<head></head>
<body>
{% block content %}

<div >
    Dear Applicant,
    <p></p>
    Thank you for your interest to be a member of the HKIST. 

    <p></p>
    We have received your online application form, yet you have not provided all necessary information/ documents in accordance to our registration requirements. Please refer to the Application Guide on our website and submit your application again.
    <p></p>
    If you encounter any difficulties, please contact us by replying to this email.

    <p></p>
    Regards,<br>
    Secretariat<br>
    HKIST<br>
</div>

{% endblock %}
</body>
</html>
