<div class="container">
<footer class="footer mt-auto py-3">
  <div style="background: black; foreground: white">

      <div class="row">
        <div class="col-8">
          <div class="text-muted">HKIST is the accredited professional body for the speech therapist profession
            under The Accredited Registers Scheme for Healthcare Professions, Department of Health, Hong Kong.
            <p></p>
            The information provided by HKIST on this website is for reference only. Although we endeavour to provide the public with access to adequate and reputable content, we make no representations as to its accuracy or appropriateness for use
            in any particular circumstances. HKIST is not responsible for any loss or damage resulting, either directly or indirectly, from access to and/or use of this website.
          </div>
        </div>

        <div class="col-3">
          <div class="text-muted">
            CONTACT US
            <p></p>
            Secretariat, HKIST<br>
            Room K5, Unit 2101,<br>
            21/F, Gala Place,<br>
            56 Dundas Street, Kowloon
            <p></p>
            Email: info@hkist.org.hk
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
        <div class="text-muted">
        <p></p>
        Copyright ©2017 HKIST All Rights Reserved.
        </div>
        </div>
      </div>

    </div>
</footer>
</div>
