{% extends "base.html" %}

{% block content %}

<h4>{{ title }}</h4>

<p></p>
<h5>a. Name for registration (Chinese and English):</h5>

<p class="text-info">
{{ personDetail.name_of_registrant }} {{ personDetail.chinese_name }} 
</p>

<p></p>
<h5>b. Membership Number :</h5>

<p class="text-info">

{% if personDetail.is_register %}
    {% if not personDetail.member_id %}
        N/A
    {% else %}
        {% if personDetail.member_id|length %}
            {{ personDetail.member_id }}
        {% endif %}
    {% endif %}
{% else %}
    Not registered member 
{% endif %}
</p>

<p></p>
<h5>c. Membership Status :</h5>

<p class="text-info">
<!--
{% if  cpdActivityEntryHeader %}
    {% if cpdActivityEntryHeader.end_date %}
        Active valid until : {{ cpdActivityEntryHeader.end_date }} </br>
    {% else %}
        Non Active </br>
    {% endif %}
{% else %}
    Not registered member</br>
{% endif %}


{% if is_expire %}
  Expired on : {{ date_of_expire }} </br>
{% endif %}

{% if is_suspend%}
Suspended on : {{ date_of_suspend }} </br>
{% endif %}
-->

{% if personDetail.is_register %}
Valid
{% else %}
Expired
{% endif %}
</p>

<p></p>
<h5>d. Payment Information :</h5>

{{ err_msg }}

{#% if is_outstanding_payment %#}

{% if personDetail.is_register %}
   <p class="text-info">No outstanding payment.</p>
{% else %}
  {% if personDetail.date_of_check and personDetail.date_of_approve %}
    <p></p>
    Annual Fee HK${{ fee.amount }} is outstanding.

    <p></p>
    <form action="/charge" method="post">

      <input type="hidden" id="description" name="description" value="{{ fee.description }}">
      <input type="hidden" id="amount" name="amount" value="{{ amount|round|int }}">
      <input type="hidden" id="fee_amount" name="fee_amount" value="{{ fee.amount }}">

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="{{ fee.description }}" data-amount="{{ amount|round|int }}" data-currency="hkd" data-locale="auto" >
    </script>

    </form>

    <p></p>
    (* We use <a href="https://stripe.com/" target="_blank">Stripe Payment gateway</a> )
  {% else %}
    <p class="text-info">Application is in progress</p>
  {% endif %}
{% endif %}

<p></p>

<h5>e. Payment History :</h5>

 	<table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Payment</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
        <tr valign="top">
            <td> {{ payment.date }} </td>
            <td> {{ payment.description }} </td>
            <td> {{ payment.currency }} {{ payment.amount }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



{% if prev_url %}
	<a href="{{ prev_url }}">Previous Page</a>
{% endif %}

{% if next_url %}
	<a href="{{ next_url }}">Next Page</a>
{% endif %}



{% endblock %}
