{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>

<form action="/upload" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo }}
    <input type="submit">
</form>

<p></p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Filename</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for uploadRecord in uploadRecords %}

        <tr valign="top">
        	<td> {{ uploadRecord.create_date }} </td>
            {% if current_user.is_admin %}
                <td> <a href="static/{{ uploadRecord.filename }}" target="_blank"> {{ uploadRecord.filename }} </a></td>
                <td> <a href="uploads/{{ uploadRecord.id }}/remove"> X </a></td>
            {% else %}
                <td> <a href="uploads/{{ uploadRecord.id }}"> {{ uploadRecord.filename }} </a></td>
                <td> <a href="uploads/{{ uploadRecord.id }}/remove"> X </a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>    
</table>


{% if prev_url %}
	<a href="{{ prev_url }}">Previous Page</a>
{% endif %}

{% if next_url %}
	<a href="{{ next_url }}">Next Page</a>
{% endif %}


{% endblock %}
